<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net48" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net48" />
  <package id="AngleSharp" version="1.1.0" targetFramework="net48" />
  <package id="Aspose.Words" version="25.1.0" targetFramework="net48" />
  <package id="CefSharp.Common" version="135.0.170" targetFramework="net48" />
  <package id="CefSharp.WinForms" version="135.0.170" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x64" version="135.0.17" targetFramework="net48" />
  <package id="chromiumembeddedframework.runtime.win-x86" version="135.0.17" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net461" />
  <package id="HarfBuzzSharp" version="8.3.0.1" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.macOS" version="8.3.0.1" targetFramework="net48" />
  <package id="HarfBuzzSharp.NativeAssets.Win32" version="8.3.0.1" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.33" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.8" targetFramework="net461" />
  <package id="Microsoft.Web.WebView2" version="1.0.3719.77" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Selenium.Support" version="4.18.1" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.20.0" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="122.0.6261.11100" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.2" targetFramework="net48" />
  <package id="Spire.Doc" version="13.1.4" targetFramework="net48" />
  <package id="Spire.PDF" version="11.1.5" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="Tesseract" version="5.2.0" targetFramework="net48" />
  <package id="WebDriverManager" version="2.17.2" targetFramework="net48" />
</packages>